@font-face {
  font-family: 'Magda Clean Mono';
  src: url('../public/fonts/MagdaCleanMono Regular.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
a:not(.MuiButton-root):link {color: #01afe7;}  
a:not(.MuiButton-root):visited {color: #004AAD}  
a:not(.MuiButton-root):hover {color: #ced2d2}  
a:not(.MuiButton-root):active {color: #C0F0FC}